<!DOCTYPE html>

<!-- Declaración del idioma -->
<html lang="es">

<head>
    <!-- Metadatos de la página -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título de la página -->
    <title>Pedidos</title>
    <!-- Mandar a llamar el framework -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <!-- Mandar a llamar css del navbar -->
    <link href="../../resources/css/navbar_privado.css" rel="stylesheet">
</head>

<!-- Cuerpo de la página -->

<body>
    <!-- Contenido principal de la página -->
    <main>
        <!-- CREAMOS EL CONTENEDOR PADRE -->
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="ms-4 d-flex align-items-center" id="contenedor-img-filtro">
                        <div class="text-start">Filtros</div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2"
                            viewBox="0 0 16 16">
                            <path
                                d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z">
                            </path>
                        </svg>
                    </div>
                    <div class="col-11 d-flex align-items-center mt-4 ms-4">
                        <div class="col-3 col-sm-3 col-md-2 col-lg-2">
                            <p class="text-start">Estado:</p>
                        </div>
                        <!-- CREAMOS UN COMBO BOX DONDE SE VERAN LOS DETALLES DE LOS PEDIDOS -->
                        <!-- DROPDOWN ES UN COMBO BOX -->
                        <div class="col">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Todos
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Pendiente</a></li>
                                    <li><a class="dropdown-item" href="#">Siendo enviado</a></li>
                                    <li><a class="dropdown-item" href="#">Finalizado</a></li>
                                    <li><a class="dropdown-item" href="#">Enviado</a></li>
                                    <li><a class="dropdown-item" href="#">Anulado</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center mt-3 ms-4">
                        <div class="row d-flex flex-row">
                            <!-- CREAMOS LAS CLASES PARA COLOCAR LAS FECHAS -->
                            <p class="text-start col-12 col-lg-3">Fecha de:</p>
                            <div class="col-11 col-lg-4">
                                <input placeholder="Seleccione rango de inicio" type="date" id="fechaInicio"
                                    class="form-control">
                            </div>
                            <p class="text-center col-12 col-lg-1">a</p>
                            <div class="col-11 col-lg-4">
                                <input placeholder="Seleccione rango  final" type="date" id="fechaFinal"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex mt-4">
                    <!--COLOCAMOS LA BARRA DE BUSQUEDA-->
                    <div class="col">
                        <form class="d-flex">
                            <input class="form-control mr-sm-2" type="search" placeholder="Buscar un cliente..."
                                aria-label="Search">
                            <button class="btn" type="enviar"><img src="../../resources/img/lupa.png" class="img-fluid"
                                    width="35px" height="35px" alt="buscarimg"></button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- CREAMOS LA TABLA DONDE IRAN TODAS LAS FILAS Y COLUMNAS -->
            <div class="table-responsive-md mt-5">
                <table class="table">
                    <!-- CREAMOS LA CABECERA DE LA TABLA DE PEDIDOS -->
                    <thead>
                        <tr>
                            <th class="text-center">Nombre del cliente</th>
                            <th class="text-center">Teléfono del cliente</th>
                            <th class="text-center">Fecha de pedido</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Artículos</th>
                            <th class="text-center">Total</th>
                            <th class="text-center">Acción</th>
                        </tr>
                    </thead>
                    <!-- CREAMOS EL INTERIOR DE LA TABLA (LAS FILAS Y COLUMNAS DE CADA INFORMACIÓN)-->
                    <tbody>
                        <!-- FILA 1 -->
                        <tr>
                            <td class="text-center">Accesorios</td>
                            <td class="text-center">Descripción...</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <!-- COLOCAMOS EL BOTON PARA VER MÁS INFORMACIÓN DEL PEDIDO-->
                            <td class="text-center">
                                <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                        fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
                                    </svg></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <!-- IMPORTANDO ARCHIVOS JAVASCRIPT -->
    <!-- Mandar a llamar el framework -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <!-- Mandar a llamar la librería de alertas -->
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/componentes.js"></script>
    <!-- Mandar a llamar el controlador de la página privada -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Mandar a llamar el controlador de pedidos -->
    <script type="text/javascript" src="../../controllers/private/pedidos.js"></script>
</body>

</html>