<!DOCTYPE html>

<!-- Idioma de la página web -->
<html lang="es">

<!-- Encabezado de la página web -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../../resources/css/Tablas.css" type="text/css" rel="stylesheet">
</head>

<!-- Cuerpo de la página web -->

<body>
    <main>
        <!-- CREAMOS FILAS Y COLUMNAS (ROW = FILAS, COL = COLUMNAS) -->
        <!-- CREAMOS EL CONTENEDOR PADRE DE LOS ELEMENTOS  BOTON AGREGAR Y LA BARRA DE BUSQUEDA-->
        <div class="container-fluid">
            <!-- CREAMOS LA FILA DONDE COLOCAMOS EL BOTON "AGREGAR PRODUCTO"-->
            <div class="row mt-5">
                <div class="col-6">
                    <!-- Botón para abrir el Modal -->
                    <button type="button" class="btn btn-primary ms-5" data-bs-toggle="modal"
                        data-bs-target="#productoModal">Agregar Producto +</button>
                    <!-- Modal -->
                    <div class="modal fade" id="productoModal" tabindex="-1" aria-labelledby="productoModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h5 class="modal-title w-100 font-weight-bold">Agregar producto</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <!-- Cuerpo del modal -->
                                <div class="modal-body">
                                    <form class="row g-3 needs-validation" novalidate>
                                        <div class="col-md-6">
                                            <label for="categoria" class="form-label">Categoría:</label>
                                            <input type="text" class="form-control" id="categoria" value="Hombres"
                                                readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="subcategoria" class="form-label">Sub-categoría:</label>
                                            <!-- Opciones de subcategorías -->
                                            <select class="form-select" id="subcategoria">
                                                <option selected>Licras</option>
                                                <option selected>Shorts</option>
                                                <option selected>Sunga</option>
                                            </select>
                                        </div>
                                        <div class="col-12">
                                            <label for="nombreProducto" class="form-label">Nombre del producto:</label>
                                            <input type="text" class="form-control" id="nombreProducto" required>
                                        </div>
                                        <div class="col-12">
                                            <label for="descripcion" class="form-label">Descripción:</label>
                                            <textarea class="form-control" id="descripcion" rows="3"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <!-- Footer del modal -->
                                <div class="modal-footer d-flex align-items-center justify-content-center">
                                    <button type="button" class="btn btn-primary close" data-bs-dismiss="modal">Agregar
                                        producto</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- CREAMOS LA COLUMNA DONDE COLOCAMOS LA "BARRA DE BUSQUEDA"  -->
                <div class="col-6">
                    <div class="d-flex justify-content-end">
                        <form class="d-flex">
                            <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto..."
                                aria-label="Search">
                            <button class="btn" type="enviar"><img src="../../resources/img/lupa.png" class="img-fluid"
                                    width="35px" height="35px" alt="buscarimg"></button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- CREAMOS LA FILA DONDE COLOCAMOS LA TABLA DE LOS ELEMENTOS DE "PRODUCTO" -->
            <div class="row mt-5">
                <table class="table">
                    <!-- CREAMOS LA CABECERA DE LA TABLA DE PRODUCTO -->
                    <thead>
                        <tr>
                            <th class="text-center" id="agregar-eliminar">Imagen</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">subcategoría</th>
                            <th class="text-center">Existencias</th>
                            <th class="text-center">Estado</th>

                        </tr>
                    </thead>
                    <!-- CREAMOS EL INTERIOR DE LA TABLA (LAS FILAS Y COLUMNAS DE CADA CATEGORIA)-->
                    <tbody>
                        <!-- FILA 1 -->
                        <tr>
                            <td class="text-center"><img src="../../resources/img/trajemujer1.png" width="130px"
                                    height="170px">
                            </td>
                            <td class="text-center">Traje de dos piezas</td>
                            <td class="text-center">$56.00</td>
                            <td class="text-center">Bikinis</td>
                            <td class="text-center">3</td>
                            <td class="text-center">Disponible</td>

                        </tr>
                        <!-- FILA 2 -->
                        <tr>
                            <td class="text-center"><img src="../../resources/img/trajehombre1.jpg" width="130px"
                                    height="170px"></td>
                            <td class="text-center">Short para nadar elásticos</td>
                            <td class="text-center">$54.00</td>
                            <td class="text-center">Short</td>
                            <td class="text-center">9</td>
                            <td class="text-center">Disponible</td>

                        </tr>
                        <!-- FILA 3 -->
                        <tr>
                            <td class="text-center"><img src="../../resources/img/trajemujer2.png" width="130px"
                                    height="170px"></td>
                            <td class="text-center">Traje de una sola pieza</td>
                            <td class="text-center">$52.00</td>
                            <td class="text-center">Bikinis</td>
                            <td class="text-center">0</td>
                            <td class="text-center">No Disponible</td>

                        </tr>
                        <!-- FILA 4 -->
                        <tr>
                            <td class="text-center"><img src="../../resources/img/lentes1.png" width="160px"
                                    height="180px"></td>
                            <td class="text-center">Lentes de natación azules</td>
                            <td class="text-center">$12.00</td>
                            <td class="text-center">Accesorios</td>
                            <td class="text-center">10</td>
                            <td class="text-center">Disponible</td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>

</body>

</html>