<!DOCTYPE html>

<!-- Idioma de la página web -->
<html lang="es">

<head>
    <!-- Metadatos de la página -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título de la página -->
    <title>Productos</title>
    <!-- Mandar a llamar el framework -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <!-- Mandar a llamar css del navbar -->
    <link href="../../resources/css/navbar_privado.css" rel="stylesheet">
    <!-- Mandar a llamar css de productos -->
    <link href="../../resources/css/productos.css" rel="stylesheet">
</head>

<!-- Cuerpo de la página web -->

<body>
    <main>
        <!-- CREAMOS FILAS Y COLUMNAS (ROW = FILAS, COL = COLUMNAS) -->
        <!-- CREAMOS EL CONTENEDOR PADRE DE LOS ELEMENTOS  BOTON AGREGAR Y LA BARRA DE BUSQUEDA-->
        <div class="container-fluid">
            <!-- CREAMOS LA FILA DONDE COLOCAMOS EL BOTON "AGREGAR PRODUCTO"-->
            <div class="row mt-5 row-gap-3 px-md-5">
                <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <!-- Botón para abrir el Modal -->
                    <button type="button" class="btn btn-primary ms-5" onclick="abrirModal('Agregar producto')">+
                        Agregar
                        Producto</button>
                </div>
                <!-- CREAMOS LA COLUMNA DONDE COLOCAMOS LA "BARRA DE BUSQUEDA"  -->
                <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex px-4 px-sm-0">
                    <!--COLOCAMOS LA BARRA DE BUSQUEDA-->
                    <div class="col">
                        <form class="d-flex ps-3" id="formBuscar">
                            <input class="form-control" type="search"
                                placeholder="Buscar un producto por nombre, descripción o subcategoría..."
                                id="buscarProducto" name="buscarProducto" oninput="verificarReset()">
                            <button class="btn" type="enviar"><img src="../../resources/img/lupa.png" class="img-fluid"
                                    width="35px" height="35px" alt="buscarimg"></button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- CREAMOS LA FILA DONDE COLOCAMOS LA TABLA DE LOS ELEMENTOS DE "PRODUCTO" -->
            <div class="table-responsive-md mt-5" id="contenedorTabla">
                <table class="table">
                    <!-- CREAMOS LA CABECERA DE LA TABLA DE PRODUCTO -->
                    <thead>
                        <tr>
                            <td colspan="6" id="filasEncontradas"></td>
                        </tr>
                        <tr>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Descripción</th>
                            <th class="text-center">Sub-categoría</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Agregado por</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <!-- CREAMOS EL INTERIOR DE LA TABLA (LAS FILAS Y COLUMNAS DE CADA CATEGORIA)-->
                    <tbody id="cuerpoTabla">
                        <!-- FILA 1 -->
                        <tr id="fila-producto" onclick="abrirInfoProducto()">
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Modal agregar -->
            <div class="modal fade" id="modalProducto">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h1 class="modal-title fs-5" id="tituloModal"></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <!-- Cuerpo del modal -->
                        <form id="formProducto">
                            <div class="modal-body">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <input type="number" class="d-none" id="idProducto" name="idProducto">
                                        <label for="nombreProducto" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="nombreProducto"
                                            name="nombreProducto" required>
                                    </div>
                                    <div class="col-12">
                                        <label for="descripcionProducto" class="form-label">Descripción</label>
                                        <textarea class="form-control" id="descripcionProducto"
                                            name="descripcionProducto" rows="3" required></textarea>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="selectCategoria" class="form-label">Categoría</label>
                                        <select class="form-select" id="selectCategoria" name="selectCategoria" size="6"
                                            onchange="cargarSubCategorias()">
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="selectSubcategoria" class="form-label">Subcategoría</label>
                                        <!-- Opciones de subcategorías -->
                                        <select class="form-select" id="selectSubcategoria" name="selectSubcategoria"
                                            size="6" onchange="">
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6 d-none" id="contenedorEstadoProducto">
                                        <label for="estadoProducto" class="form-label">Estado del producto</label>
                                        <select class="form-select" id="estadoProducto" name="estadoProducto">
                                            <option value="1">Activo</option>
                                            <option value="0">Inactivo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Footer del modal -->
                            <div class="modal-footer d-flex align-items-center justify-content-center">
                                <button type="submit" class="btn btn-primary close" id="btnAccion">Agregar
                                    producto</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal eliminar -->
            <div class="modal fade" id="borrarModalProducto">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="formEliminar">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="tituloModalEliminar"></h1>
                                <input type="number" class="d-none" id="inputIdProducto" name="idProducto">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <button type="submit" class="btn btn-primary"
                                    onclick="">Eliminar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal de existencias -->
            <div class="modal fade" id="infoModalProducto">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="col-lg-12">
                                            <p class="fs-4 fw-semibold">Existencias</p>
                                        </div>
                                        <div class="col-lg-12">
                                            <img src="../../resources/img/filtro2.png" alt="">
                                        </div>
                                        <div class="col d-flex justify-content-start mt-2">
                                            <div class="col d-flex justify-content-start">
                                                <p class="m-2">Color:</p>
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle btn-primary" id="colores"
                                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Colores
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">Azul</a></li>
                                                        <li><a class="dropdown-item" href="#">Rojo</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col d-flex justify-content-start">
                                                <p class="m-2">Talla:</p>
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle btn-primary" id="tallas"
                                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Tallas
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">S</a></li>
                                                        <li><a class="dropdown-item" href="#">M</a></li>
                                                        <li><a class="dropdown-item" href="#">L</a></li>
                                                        <li><a class="dropdown-item" href="#">XL</a></li>
                                                        <li><a class="dropdown-item" href="#">XXL</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 d-flex justify-content-start align-items-center mt-4">
                                            <div class="container-fluid table-responsive"
                                                id="contenedor-tabla-existencias">
                                                <!-- Tabla con los datos -->
                                                <table class="table" id="tabla-existencias">
                                                    <!-- Cabeceras de la tabla -->
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Color</th>
                                                            <th scope="col">Talla</th>
                                                            <th scope="col">Existencias</th>
                                                            <th scope="col">Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <!-- Cuerpo de la tabla con la información -->
                                                    <tbody>
                                                        <!-- Fila 1 -->
                                                        <tr>
                                                            <td>Rojo</td>
                                                            <td>S</td>
                                                            <td>5</td>
                                                            <td colspan="2">
                                                                <button type="button" class="btn btn-success">
                                                                    <img src="../../resources/img/lapiz.png"
                                                                        alt="lapizEditar" width="25px">
                                                                </button>
                                                                <button type="button" class="btn btn-danger">
                                                                    <img src="../../resources/img/eliminar.png"
                                                                        alt="lapizEditar" width="25px">
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 d-flex align-items-center justify-content-center">
                                            <div class="p-2">
                                                <button class="btn p-3 rounded-pill fw-bold text-light bg-primary"
                                                    id="btnAgregarExistencia">Agregar existencia +

                                                </button>
                                            </div>
                                            <div class="p-2">
                                                <button class="btn p-3 rounded-pill fw-bold text-light bg-primary"
                                                    id="btnAsignacion">
                                                    Asignación rápida
                                                    <img src="../../resources/img/llave_inglesa.png"
                                                        alt="llave-inglesa">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1 d-flex" style="width: 25px;" id="separadorV">
                                        <div class="vr">

                                        </div>
                                    </div>
                                    <div class="pt-5 pb-5" id="separadorH">
                                        <hr>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <p class="fs-4 fw-semibold">Información del producto</p>
                                            </div>
                                        </div>
                                        <div class="row d-flex align-items-start justify-content-start">
                                            <div class="col-12 col-sm-2 col-md-2 col-lg-2 pe-2 text-center"
                                                id="imagen-producto">
                                                <img src="../../resources/img/short_rojo.png" alt="short-rojo"
                                                    class="img-fluid">
                                            </div>
                                            <div class="col">
                                                <div class="col-12 d-flex align-items-start justify-content-start">
                                                    <div class="row">
                                                        <p class="me-2">Agregado por</p>
                                                        <p class="fw-bold" id="admin-agregado">Susan Castillo</p>
                                                    </div>
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="col d-flex">
                                                                <p class="fw-bold">Categoría:</p>
                                                                <p id="categoria-texto" class="ms-1"> Hombres</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col d-flex">
                                                                <p class="fw-bold">Subcategoria:</p>
                                                                <p id="subcategoria-texto" class="ms-1">Shorts</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <p class="fs-2" id="nombre-producto">Shorts para nadar elásticos</p>
                                                </div>
                                                <div class="col-lg-12">
                                                    <p class="fs-2" id="estado-producto">Disponible</p>
                                                </div>
                                                <div class="col-lg-12">
                                                    <hr>
                                                    <p class="fs-2" id="precio-producto">$20.00</p>
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="fs-4">This Essentials watershort in bright red offers a
                                                    playful
                                                    swim style you know you can rely on.
                                                    A side pocket drainage system ensures they stay comfortable, even
                                                    when wet, whilst a drawstring waist provides extra comfort
                                                    and security. Our new 100% Recycled Nylon fabric is lightweight
                                                    and comfortable as well as good for the environment,
                                                    making this short the ideal choice for the pool or beach.</p>
                                            </div>
                                        </div>
                                        <div class="row mt-5 d-flex align-items-center justify-content-center gap-3">
                                            <div
                                                class="col-12 col-sm-3 col-md-3 col-lg-3 d-flex align-items-center justify-content-center">
                                                <button class="btn p-3 btn-success rounded-pill" id="EditarProducto">
                                                    Editar producto
                                                    <img src="../../resources/img/lapiz.png" alt="editarProducto"
                                                        class="ms-2" height="20px">
                                                </button>
                                            </div>
                                            <div
                                                class="col-12 col-sm-3 col-md-3 col-lg-3 d-flex align-items-center justify-content-center">
                                                <button class="btn p-3 btn-danger rounded-pill" id="DesactivarProducto">
                                                    Desactivar producto
                                                    <img src="../../resources/img/eliminar.png" alt="desactivarProducto"
                                                        class="ms-2" height="20px">
                                                </button>
                                            </div>
                                            <div
                                                class="col-12 col-sm-3 col-md-3 col-lg-3 d-flex align-items-center justify-content-center">
                                                <button class="btn p-3 rounded-pill text-light"
                                                    style="background-color: #E0BD00;" id="VerComentarios">
                                                    Ver comentarios
                                                    <img src="../../resources/img/estrella.png" alt="editarProducto"
                                                        class="ms-2" height="20px">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- IMPORTANDO ARCHIVOS JAVASCRIPT -->
    <!-- Mandar a llamar el framework -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <!-- Mandar a llamar la librería de alertas -->
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/componentes.js"></script>
    <!-- Mandar a llamar el controlador de la página privada -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Controlador js de productos -->
    <script type="text/javascript" src="../../controllers/private/productos.js"></script>
</body>

</html>