<!DOCTYPE html>

<!-- Idioma de la página web -->
<html lang="es">

<!-- Encabezado de la página web -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
</head>

<!-- Cuerpo de la página web -->

<body>
    <main>
        <!-- CREAMOS FILAS Y COLUMNAS (ROW = FILAS, COL = COLUMNAS) -->
        <!-- CREAMOS EL CONTENEDOR PADRE DE LOS ELEMENTOS  BOTON AGREGAR Y LA BARRA DE BUSQUEDA-->
        <div class="container-fluid">
            <!-- CREAMOS LA FILA DONDE COLOCAMOS EL BOTON "AGREGAR PRODUCTO"-->
            <div class="row mt-5">
                <div class="col-6">
                    <!-- Botón para abrir el Modal -->
                    <button type="button" class="btn btn-primary ms-5" onclick="abrirCrear()">Agregar Producto +</button>
                </div>
                <!-- CREAMOS LA COLUMNA DONDE COLOCAMOS LA "BARRA DE BUSQUEDA"  -->
                <div class="col-6">
                    <div class="">
                        <form class="d-flex">
                            <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto..."
                                aria-label="Search">
                            <button class="btn" type="enviar"><img src="../../resources/img/lupa.png" class="img-fluid"
                                    width="35px" height="35px" alt="buscarimg"></button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- CREAMOS LA FILA DONDE COLOCAMOS LA TABLA DE LOS ELEMENTOS DE "PRODUCTO" -->
            <div class="row mt-5">
                <table class="table">
                    <!-- CREAMOS LA CABECERA DE LA TABLA DE PRODUCTO -->
                    <thead>
                        <tr>
                            <th class="text-center">Imagen</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">subcategoría</th>
                            <th class="text-center">Existencias</th>
                            <th class="text-center">Estado</th>

                        </tr>
                    </thead>
                    <!-- CREAMOS EL INTERIOR DE LA TABLA (LAS FILAS Y COLUMNAS DE CADA CATEGORIA)-->
                    <tbody>
                        <!-- FILA 1 -->
                        <tr id="fila-producto" onclick="abrirInfoProducto()">
                            <td class="text-center">
                                <img src="../../resources/img/trajemujer1.png" width="130px" height="170px">
                            </td>
                            <td class="text-center">Traje de dos piezas</td>
                            <td class="text-center">$56.00</td>
                            <td class="text-center">Bikinis</td>
                            <td class="text-center">3</td>
                            <td class="text-center">Disponible</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="crearModal_producto">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title w-100 font-weight-bold">Agregar producto</h5>
                            <button type="button" class="btn" onclick="abrirCrear()"></button>
                        </div>
                        <!-- Cuerpo del modal -->
                        <div class="modal-body">
                            <form class="row g-3 needs-validation" novalidate>
                                <div class="col-md-6">
                                    <label for="categoria" class="form-label">Categoría:</label>
                                    <input type="text" class="form-control" id="categoria" value="Hombres" readonly>
                                </div>
                                <div class="col-md-6">
                                    <label for="subcategoria" class="form-label">Sub-categoría:</label>
                                    <!-- Opciones de subcategorías -->
                                    <select class="form-select" id="subcategoria">
                                        <option selected>Licras</option>
                                        <option selected>Shorts</option>
                                        <option selected>Sunga</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <label for="nombreProducto" class="form-label">Nombre del producto:</label>
                                    <input type="text" class="form-control" id="nombreProducto" required>
                                </div>
                                <div class="col-12">
                                    <label for="descripcion" class="form-label">Descripción:</label>
                                    <textarea class="form-control" id="descripcion" rows="3"></textarea>
                                </div>
                            </form>
                        </div>
                        <!-- Footer del modal -->
                        <div class="modal-footer d-flex align-items-center justify-content-center">
                            <button type="button" class="btn btn-primary close" data-bs-dismiss="modal">Agregar
                                producto</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="infoModal_producto">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="col-12">
                                            <p class="fs-4 fw-semibold">Existencias</p>
                                        </div>
                                        <div class="col-12">
                                            <img src="../../resources/img/filtro2.png" alt="">
                                        </div>
                                        <div class="col d-flex justify-content-start mt-2">
                                            <div class="col d-flex justify-content-start">
                                                <p class="m-2">Color:</p>
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle btn-primary" id="colores"
                                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Colores
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">Azul</a></li>
                                                        <li><a class="dropdown-item" href="#">Rojo</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col d-flex justify-content-start">
                                                <p class="m-2">Talla:</p>
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle btn-primary" id="tallas"
                                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Tallas
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">S</a></li>
                                                        <li><a class="dropdown-item" href="#">M</a></li>
                                                        <li><a class="dropdown-item" href="#">L</a></li>
                                                        <li><a class="dropdown-item" href="#">XL</a></li>
                                                        <li><a class="dropdown-item" href="#">XXL</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-start align-items-center mt-4">
                                            <div class="container-fluid table-responsive">
                                                <!-- Tabla con los datos -->
                                                <table class="table" id="tabla-existencias">
                                                    <!-- Cabeceras de la tabla -->
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Color</th>
                                                            <th scope="col">Talla</th>
                                                            <th scope="col">Existencias</th>
                                                            <th scope="col">Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <!-- Cuerpo de la tabla con la información -->
                                                    <tbody>
                                                        <!-- Fila 1 -->
                                                        <tr>
                                                            <td>Rojo</td>
                                                            <td>S</td>
                                                            <td>5</td>
                                                            <td colspan="2">
                                                                <button type="button" class="btn btn-success">
                                                                    <img src="../../resources/img/lapiz.png"
                                                                        alt="lapizEditar" width="25px">
                                                                </button>
                                                                <button type="button" class="btn btn-danger">
                                                                    <img src="../../resources/img/eliminar.png"
                                                                        alt="lapizEditar" width="25px">
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex align-items-center justify-content-center">
                                            <div class="p-2">
                                                <button class="btn p-3 rounded-pill fw-bold text-light bg-primary"
                                                    id="btnAgregarExistencia">Agregar existencia</button>
                                            </div>
                                            <div class="p-2">
                                                <button class="btn p-3 rounded-pill fw-bold text-light bg-primary"
                                                    id="btnAsignacion">
                                                    Asignación rápida
                                                    <img src="../../resources/img/llave_inglesa.png"
                                                        alt="llave-inglesa">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1 d-flex" style="width: 25px;">
                                        <div class="vr">

                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <p class="fs-4 fw-semibold">Información del producto</p>
                                            </div>
                                        </div>
                                        <div class="row d-flex align-items-start justify-content-start">
                                            <div class="col-2 pe-2" id="imagen-producto">
                                                <img src="../../resources/img/short_rojo.png" alt="short-rojo"
                                                    class="img-fluid">
                                            </div>
                                            <div class="col">
                                                <div class="col-12 d-flex align-items-start justify-content-start">
                                                    <div class="row">
                                                        <p class="me-2">Agregado por</p>
                                                        <p class="fw-bold" id="admin-agregado">Susan Castillo</p>
                                                    </div>
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="col d-flex">
                                                                <p class="fw-bold">Categoría:</p>
                                                                <p id="categoria-texto" class="ms-1"> Hombres</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col d-flex">
                                                                <p class="fw-bold">Subcategoria:</p>
                                                                <p id="subcategoria-texto" class="ms-1">Shorts</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <p class="fs-2" id="nombre-producto">Shorts para nadar elásticos</p>
                                                </div>
                                                <div class="col-12">
                                                    <p class="fs-2" id="estado-producto">Disponible</p>
                                                </div>
                                                <div class="col-12">
                                                    <hr>
                                                    <p class="fs-2" id="precio-producto">$20.00</p>
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="fs-4">This Essentials watershort in bright red offers a
                                                    playful
                                                    swim style you know you can rely on.
                                                    A side pocket drainage system ensures they stay comfortable, even
                                                    when wet, whilst a drawstring waist provides extra comfort
                                                    and security. Our new 100% Recycled Nylon fabric is lightweight
                                                    and comfortable as well as good for the environment,
                                                    making this short the ideal choice for the pool or beach.</p>
                                            </div>
                                        </div>
                                        <div class="row mt-5 d-flex align-items-center justify-content-center">
                                            <div class="col col-lg-3 d-flex align-items-center justify-content-center">
                                                <button class="btn p-3 btn-success rounded-pill" id="EditarProducto">
                                                    Editar producto
                                                    <img src="../../resources/img/lapiz.png" alt="editarProducto"
                                                        class="ms-2" height="20px">
                                                </button>
                                            </div>
                                            <div class="col col-lg-3 d-flex align-items-center justify-content-center">
                                                <button class="btn p-3 btn-danger rounded-pill" id="DesactivarProducto">
                                                    Desactivar producto
                                                    <img src="../../resources/img/eliminar.png" alt="desactivarProducto"
                                                        class="ms-2" height="20px">
                                                </button>
                                            </div>
                                            <div class="col col-lg-3 d-flex align-items-center justify-content-center">
                                                <button class="btn p-3 rounded-pill text-light"
                                                    style="background-color: #E0BD00;" id="VerComentarios">
                                                    Ver comentarios
                                                    <img src="../../resources/img/estrella.png" alt="editarProducto"
                                                        class="ms-2" height="20px">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- Mandar a llamar el framework -->
    <script src="../../resources/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <!-- Mandar a llamar el navbar -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Controlador js de productos -->
    <script type="text/javascript" src="../../controllers/private/productos.js"></script>
</body>

</html>