@media only screen and (min-width: 1920px) {
    #contenedorTablaCategorias{
        height: 680px; 
        overflow-y: auto;
    }
}

@media only screen and (max-width: 1629px) {
    #contenedorTablaCategorias{
        height: 500px; 
        overflow-y: auto;
    }
}

@media only screen and (max-width: 575px) {
    #contenedorTablaCategorias{
        height: 450px; 
        overflow-y: auto;
    }
}

@media only screen and (max-width: 500px) {
    #contenedorSeaSmart{
        display: none;
    }
}

@media only screen and (max-width: 431px) {

    #contenedorTablaCategorias{
        height: 480px; 
        overflow-y: auto;
    }
}