span{
    color: #4593EE;
}

#lbIniciarSesion{
    font-size: 50px; color: #55B8EB;
}

#btnIngresar{
    background-color: #BCE7FD; color: #418DE7;
}

.navbar{
    background-color: #BCE7FD; height: 140px;
}

a{
    text-decoration: none;
}

#inputCorreo{
    background-color: #DCF2F1;
    border-color: #BCE7FD;
    font-size: 18px;
}

#inputContra{
    background-color: #DCF2F1;
    border-color: #BCE7FD;
    font-size: 18px;
}

#inputCorreo::placeholder{
    color: #2B2D42;
    opacity: 30%;
    font-size: 18px;
}

#inputContra::placeholder{
    color: #2B2D42;
    opacity: 30%;
    font-size: 18px;
}