*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.star {
    font-size: 25px;
    color: #bbb;
    transition: color 0.3s;
    cursor: pointer;
}

.star:hover,
.star.checked{
    color: gold;
}
