<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoria mujer</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../resources/css/categoria_mujer.css">

    <!-- Mandamos a llamar al framework -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <main>
        <!-- Creamos el contenedor padre -->

        <img src="../../resources/img/Carrusel3.png" class="img-fluid" alt="Responsive image">

        <h2>Más vendidos</h2>

        <!-- Creamos el carrusel de los productos más vendidos de una categoría -->
        <!-- Swiper -->

        <div class="container">
            <div class="swiper-container mySwiper">

                <div class="swiper-wrapper">

                    <div id="arrow-swiper-left" class="swiper-button-prev"></div>

                    <div class="swiper-slide">
                        <img src="../../resources/img/traje_mujer6.png" alt="">
                        <div class="card-description">
                            <div class="card-title">
                                <p>Traje de baño de una pieza color negro</p>

                            </div>
                            <div class="card-text">
                                <h4>$25.00</h4>
                            </div>
                            <div class="card-link">
                                <button type="button" class="btn btn-outline-secondary" disabled>Comprar ahora</button>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide">
                        <img src="../../resources/img/traje_mujer6.png" alt="">
                        <div class="card-description">
                            <div class="card-title">
                                <p>Traje de baño de una pieza color negro</p>
                            </div>
                            <div class="card-text">
                                <h4>$25.00</h4>
                            </div>
                            <div class="card-link">
                                <button type="button" class="btn btn-outline-secondary" disabled>Comprar ahora</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../resources/img/traje_mujer6.png" alt="">
                        <div class="card-description">
                            <div class="card-title">
                                <p>Traje de baño de una pieza color negro</p>
                            </div>
                            <div class="card-text">
                                <h4>$25.00</h4>
                            </div>
                            <div class="card-link">
                                <button type="button" class="btn btn-outline-secondary" disabled>Comprar ahora</button>
                            </div>


                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../resources/img/traje_mujer6.png" alt="">
                        <div class="card-description">
                            <div class="card-title">
                                <p>Traje de baño de una pieza color negro</p>
                            </div>
                            <div class="card-text">
                                <h4>$25.00</h4>
                            </div>
                            <div class="card-link">
                                <button type="button" class="btn btn-outline-secondary" disabled>Comprar ahora</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../resources/img/traje_mujer6.png" alt="">
                        <div class="card-description">
                            <div class="card-title">
                                <p>Traje de baño de una pieza color negro</p>
                            </div>
                            <div class="card-text">
                                <h4>$25.00</h4>
                            </div>
                            <div class="card-link">
                                <button type="button" class="btn btn-outline-secondary" disabled>Comprar ahora</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <img src="../../resources/img/traje_mujer6.png" alt="">
                        <div class="card-description">
                            <div class="card-title">
                                <p>Traje de baño de una pieza color negro</p>
                            </div>
                            <div class="card-text">
                                <h4>$25.00</h4>
                            </div>
                            <div class="card-link">
                                <button type="button" class="btn btn-outline-secondary" disabled>Comprar ahora</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="arrow-swiper-right" class="swiper-button-next"></div>
            </div>
        </div>
    </main>


    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../../resources/js/categoria_mujer.js" type="text/javascript"></script>
</body>

</html>