<!DOCTYPE html>
<!-- Idioma de la página -->
<html lang="es">

<head>
    <!-- METADATOS DE LA PÁGINA -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título de la página -->
    <title>Mi información</title>
    <!-- Mandamos a llamar al framework -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <!-- Mandar a llamar el css del navbar -->
    <link rel="stylesheet" href="../../resources/css/navbar_publico.css" type="text/css">
    <!-- Mandar a llamar el css de la página -->
    <link rel="stylesheet" href="../../resources/css/mi_informacion.css" type="text/css">
</head>


<!-- Cuerpo de la página -->

<body>
    <!-- Contenido principal de la página -->
    <main>
        <!-- Creamos el contenedor padre de los elementos -->
        <div class="container-fluid">
            <div class="row mt-5 d-flex align-items-start">
                <!-- Menú lateral -->
                <div class="col d-flex flex-column" id="menu_cuenta">

                </div>
                <div class="col-12 col-lg-8">
                    <form class="">
                        <fieldset class="row d-flex" id="contenedorInfo">

                            <div class="row d-flex" id="contenedorCliente">

                                <div class="row d-flex">
                                    <p class="fw-bold fs-5">Información de contacto</p>

                                    <div class="col-10 col-sm-5 col-lg-5 mb-3">
                                        <label for="txtTelefono_movil" class="form-label">Nombres</label>
                                        <input type="text" class="form-control" placeholder="Hazel Nicole"
                                            id="txtNombres" disabled>
                                    </div>
                                    <div class="col-1 mb-3 d-flex align-items-end">

                                    </div>

                                    <div class="col-10 col-sm-5 mb-3">
                                        <label for="txtTelefono_fijo" class="form-label">Apellidos</label>
                                        <input type="text" class="form-control" placeholder="García Hernández"
                                            id="txtApellidos" disabled>
                                    </div>
                                    <div class="col-1 mb-3 d-flex align-items-end">

                                    </div>

                                    <div class="col-10 col-sm-5 col-lg-5 mb-3">
                                        <label for="txtTelefono_movil" class="form-label">DUI (Documento único de
                                            identidad)</label>
                                        <input type="text" class="form-control" placeholder="00000000-1" id="txtDUI"
                                            disabled>
                                    </div>
                                    <div class="col-1 mb-3 d-flex align-items-end">

                                    </div>

                                    <div class="col-10 col-sm-5 mb-3">
                                        <label for="txtTelefono_fijo" class="form-label">Correo Electronico</label>
                                        <input type="text" class="form-control" placeholder="hazel@gamil.com"
                                            id="txtCorreo" disabled>
                                    </div>
                                    <div class="col-1 mb-3 d-flex align-items-end">

                                    </div>

                                    <div class="col-10 col-sm-5 col-lg-5 mb-3">
                                        <label for="txtTelefono_movil" class="form-label">Teléfono móvil</label>
                                        <input type="text" class="form-control" placeholder="7845 9067"
                                            id="txtTelefono_movil" disabled>
                                    </div>
                                    <div class="col-1 mb-3 d-flex align-items-end">

                                    </div>
                                    <div class="col-10 col-sm-5 mb-3">
                                        <label for="txtTelefono_fijo" class="form-label">Teléfono fijo</label>
                                        <input type="text" class="form-control" placeholder="2375 1265"
                                            id="txtTelefono_fijo" disabled>
                                    </div>
                                    <div class="col-1 mb-3 d-flex align-items-end">

                                    </div>
                                </div>
                            </div>
                            <!-- Creamos el boton que servira para abrir el modal de editar información -->
                            <div class="col-3 mb-2 d-flex align-items-end">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#formModal">
                                    Editar información
                                </button>
                            </div>
                            <p class="fw-bold fs-5 mt-5">Mis direcciones de envío</p>
                            <div class="row d-flex" id="contenedorDirecciones">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- Modal agregar -->
    <div class="modal fade" id="modalDireccion">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <!-- Encabezado del modal -->
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="tituloModalDireccion"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="formDireccion">
                    <!-- Cuerpo del modal -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="mb-3">
                                        <input type="number" class="d-none" id="idDireccion" name="idDireccion">
                                        <label for="inputDireccion" class="col-form-label">Dirección</label>
                                        <textarea class="form-control" id="inputDireccion" name="inputDireccion"
                                            required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer del modal -->
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn" id="btnAccion"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal editar -->
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalLabel">Formulario de Información</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formInfoCliente">
                        <div>
                            <label for="nombres">Nombres</label>
                            <input type="text" class="form-control" id="nombres" placeholder="Ingrese sus nombres">
                        </div>
                        
                        <div>
                            <label for="apellidos">Apellidos</label>
                            <input type="text" class="form-control" id="apellidos" placeholder="Ingrese sus apellidos">
                        </div>
                        
                        <div>
                            <label for="documento">DUI (Documento unico de identidad)</label>
                            <input type="text" class="form-control" id="documento"
                                placeholder="Ingrese su documento de identificación">
                        </div>
                        
                        <div>
                            <label for="correo">Correo Electrónico</label>
                            <input type="email" class="form-control" id="correo"
                                placeholder="Ingrese su correo electrónico">
                        </div>
                        <br>
                        <div>
                            <label for="telefono-movil">Teléfono Móvil</label>
                            <input type="text" class="form-control" id="telefono-movil"
                                placeholder="Ingrese su teléfono móvil">
                        </div>
                        
                        <div>
                            <label for="telefono-fijo">Teléfono Fijo</label>
                            <input type="text" class="form-control" id="telefono-fijo"
                                placeholder="Ingrese su teléfono fijo">
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Mandar a llamar el framework -->
    <script src="../../resources/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <!-- Mandar a llamar la librería de alertas -->
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/componentes.js"></script>
    <!-- Mandar a llamar el navbar -->
    <script type="text/javascript" src="../../controllers/utils/publico.js"></script>
    <!-- Mandar a llamar el menú lateral -->
    <script type="text/javascript" src="../../controllers/utils/menu_lateral.js"></script>
    <!-- Mandar a llamar el controlador de direcciones -->
    <script type="text/javascript" src="../../controllers/public/direcciones.js"></script>
    
    <script type="text/javascript" src="../../controllers/public/mi_informacion.js"></script>
    <!-- Mandar a llamar el controlador de clientes -->
    <script type="text/javascript" src="../../controllers/public/clientes.js"></script>

    <!-- Enlazar con el JavaScript de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>